:root {
  --color-text-100: rgba(55, 55, 55, 1);
  --color-text-50: #666666;
  --color-main-surface: #e5e5e5;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('../assets/fonts/Inter.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'Novela';
  src: url('../assets/fonts/novela-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novela';
  src: url('../assets/fonts/novela-regularitalic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Novela';
  src: url('../assets/fonts/novela-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Novela';
  src: url('../assets/fonts/novela-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}

button, textarea, input {
  font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
}

strong
{
  font-weight: 700;
}
